body{
    background-color: azure;
    font-size: 12;
}
h4{
    color: black;
    text-align: justify;
}
p{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 10; 
}
